@font-face {
  font-family: "fonty";
  src: url("font.ttf");

}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

#mydiv, #mydiv2, #mydiv3 {
  position: absolute;
  z-index: 0;
  background-color: white;
  text-align: center;
  border: 1px solid white;
  overflow:hidden;
  width:384px;
  height: 450px;
  border-radius:10px;
  padding:10px;
  padding-bottom:50px;
  box-shadow: 10px 10px 8px #00000050;
}

#mydiv::-webkit-scrollbar, #mydiv2::-webkit-scrollbar, #mydiv3::-webkit-scrollbar {
width:50px;
}


#mydiv::-webkit-scrollbar-track, #mydiv2::-webkit-scrollbar-track, #mydiv3::-webkit-scrollbar-track {

}

#mydiv::-webkit-scrollbar-thumb, #mydiv2::-webkit-scrollbar-thumb, #mydiv3::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius:50px;
}


.addon_drag::-webkit-scrollbar {
    width: 50px;
}

.addon_drag::-webkit-scrollbar-track {
  
}

.addon_drag::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius:50px;
}





#mydivheader, #mydivheader2, #mydivheader3 {
  padding: 0.5px!important;
  cursor: grab;
  z-index: 0;
  background-color: Transparent;
  color: gray;
  overflow:hidden;
}

#mydivheader:active {
cursor:grabbing;
}
body, html {
background-color: white;
background-repeat:no-repeat;
background-position:center;
color:black;
font-family: 'fonty', sans-serif;
font-size:15px;
overflow:hidden;
overflow-x:hidden;
overflow-y:hidden;
transition: all 0.5s;
height: 100%;
margin: 0px;
cursor: default;

}
textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
  
}

textarea::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius:50px;
}



.popup button {
color:white;
background-color:black;
font-family: 'fonty';
}
#create, #exporter {
z-index:10000000000000000000000000000;
}
#playbutton {
z-index:0;
}
body {
 

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content {
padding-left:10px;
}

.h1 {
text-align:center;
background-color:black;
font-size: 2em;
color:white;
padding:15px;
}


h6 {
font-size:15px;
}
textarea {
  width: 100%;
  min-height: 100px;
  
}

.spin:hover {
transition: all 0.5s;
transform:rotate(360deg);
}

.hover:hover{
transition: all 0.5s;
transform:scale(1.1);
}



#create,#createoutput, .editor_action_bar .editor_button button {
background-color:black;color:white;border:none;padding:10px;border-radius:12px;margin:0px;
font-family: 'fonty';
}

#create:hover, #createoutput:hover, .editor_action_bar .editor_button button:hover  {
background-color:black;
transform: scale(1.05);
cursor:pointer;
transition:all 0.2s;
border-radius:10px;
}

#downloader:hover {
transition:all 0.5s;
transform:scale(1.05);
cursor:pointer;
}

#downloader2:hover {
transition:all 0.5s;
transform:scale(1.05);
cursor:pointer;
}

.butt:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background: white;
  background: linear-gradient(
    to right, 
    #ffffff00 0%,
    #ffffff50 77%,
    #ffffff50 92%,
    #ffffff00 100%
  );
}

.butt:hover:after {
  opacity: 1;
  top: 0%;
  left: 100%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}



.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #111;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000c0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y:scroll;
}


.overlay::-webkit-scrollbar {
    width: 10px;
}

.overlay::-webkit-scrollbar-track {
  background-color:Transparent;
}

.overlay::-webkit-scrollbar-thumb {
  background-color:gray;
  border-radius:10px;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius:15px;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow:hidden;
}

.popup h2 {
  margin-top: 0;
  color: #33333300;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  
  font-weight: bold;
  text-decoration: none;
  color: #33333300;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  overflow: hidden;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
overflow:hidden;
  }
  .popup{
    width: 70%;
  }
}

.tools:hover {
cursor:pointer;
transition: all 0.5s;
transform: scale(1.05);
}

#shop_icon:hover {
cursor:pointer;
}

.editor_action_bar {
	background-color: black;
	height: 56px;
	color:white;
}

.editor_action_bar .editor_button  {
	height: 36px;
	display: inline-block;
	font-size: 1em;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	float:right;
}

.editor_action_bar input  {
	
	float:left;
}
.left_frame {
	float: left;
	width: -moz-calc(33% - 2px);
	width: -webkit-calc(33% - 2px);
	width: calc(33% - 2px);

}
.right_frame {
	width: 67%;
	float: right;
}
.right_frame, .left_frame {
	//assuming that 80px + editor bar 56px for borders is the header's height
	height: -moz-calc(100% - 136px);
	height: -webkit-calc(100% - 136px);
	height: calc(100% - 60px);
}
.dropdown {
	position: absolute;
	z-index: 100; 

}

#textbox {
outline-color:black;
background-color:#e9e9e9;
color:black;
animation: textboxanimation 5s linear 2s infinite alternate;
padding:20px;
font-family: 'fonty';
}
#cssbox, #jsbox {
outline-color:white;
background-color:#e9e9e9;
color:black;
animation: textboxanimation 5s linear 2s infinite alternate;
padding:20px;
font-family: 'fonty';
}
#box {
outline-color:white;
}
#titlebox, #logo {
outline-color:white;
background-color:black;
color:white;
float:left;
animation: textboxanimation 5s linear 2s infinite alternate;
focus:none;
font-family: fonty;
font-size:15px;
}

#titlebox {
	width:25%;
}

#filebox {
outline-color:black;
border-radius:5px;
}
.dropdown_content {
	position: relative;
	background-color: white;
	border: 0.5px solid white;
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	top: 10px;
	left:-10px;
	transition: all 0.5s;
	border-top: 0.5px solid Transparent;
	box-shadow: 10px 10px 20px #00000060;
	
}
#dl_dropdown  {
margin-left:-150px;
border-radius:10px;
}
.right {
	float:right;
	
}
.right .dropdown .dropdown_content {
	/*assuming that the dropdown content is 180px*/
	right:180px;
}
h1 {
	margin: 0px;
}
textarea {
	resize: none;
}
iframe {
	border: 0px solid #FFF;
	width: 100%;
	height: 92%;
}

.inline-block {
	display: inline-block;
}

.dropdown_button {
	margin: 5px 10px;
	font-size: 12px;
}
.dropdown_icon {
	padding: 10px 10px;
	width: 30px; margin: 0px auto 10px auto;
	text-align: center;
}
#reloader:hover {
transition:all 0.5s;
transform:rotate(360deg);

}
#logo:hover {
cursor:pointer;
}

#bullhorn {
transform:scale(1.0);
}

#slot1, #slot2, #slot3 {
padding:4.5px;
}

#inverter:hover {
transition:all 0.5s;
transform:scaleX(-1);

}


.addons {
  position: relative;
  display: inline-block;
}

.addons-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  
}

.addons:hover .addons-content {
  display: block;
margin-top:9px;
margin-left:-75px;
border: 0.5px solid white;
border-top: 0.5px solid Transparent; 
color:black;
}


@keyframes textboxanimation {
  0%   {outline-color:white;}
  50%  {outline-color:black; }
  100% {outline-color:white; }
}
#import_dropdown {
	
color:Transparent;
width:5%;
margin-left:-12px;
}

#preview:hover {
transition:all 0.5s;
transform: matrix(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

#preview_frame {
height:100%;
}

button {
outline:none;
}

.playa{
  position: relative;
  display: inline-block;
}

.playa-content {
  opacity:0%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  border-radius:0px 0px 10px 10px;
  
}

.playa:hover .playa-content {
  opacity:100%;
margin-top:7px;
margin-left:-35px;
border: 0.5px solid white;
border-top: 0.5px solid Transparent; 
color:black;
}

.addon-body {
width:100%;
height:65%;
scrolling:no;
}


.left_frame::-webkit-scrollbar {
    width: 1em;
}

.left_frame::-webkit-scrollbar-track {
  background-color:#efefef50;
}

.left_frame::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius:0px;
}

#announce_window::-webkit-scrollbar {
    width: 1em;
}

#announce_window::-webkit-scrollbar-track {
  background-color:#efefef50;
}

#announce_window::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius:0px;
}